

<div class="row">
    <div class="col-md-12 text-center">
        <p class="text"></p>
        <form class="form">
            <div class="form-group">
                <input type="text" placeholder="Burger name" id="burger-input"
                    name="name">
            </div>
            <button id="submit-btn" type="submit">ADD BURGER</button>
        </form>
    </div>
</div>

<div class="row">

    <div class="col-md-5 eat">
        <h2>Burgers to eat!</h2>
        <ul>

        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 done">
        <h2>Already eaten!</h2>
        <ul>

        </ul>
    </div>
    <div class="col-md-1"></div>
</div>